<div class="container">
	<div class="row">
		<navbar home-url="'/courses?topic=' + course.info.topic.code">{{course.info.topic.name }} Courses</navbar>
	</div>
</div>
<div class="container-fluid" style="background-color: #FFF; margin: -30px -10px 0; padding: 50px 10px 20px ">
	<div class="container courseinfo-container">
		<div class="row">
			<div class="col-xs-12 col-sm-5 course-image">
				<img class="img-responsive" alt="Course Image" ng-src="{{::course.info.imageUrl}}" />
			</div>
			<div class="col-xs-12 col-sm-7 course-details">
				<h2 class="course-title" itemprop="title" ng-bind="::course.info.name"></h2>
				<h4 class="topic {{course.info.topic.code}} clickable" ng-bind="::course.info.topic.name" ui-sref="courses({'topic': course.info.topic.code})"></h4>
				<!-- 
			<span class="link-subtitle">
				<a href="#" ng-bind="::course.info.topic.name" ng-href="/courses?tag={{::course.info.topic.name}}"></a>
			</span>
			-->
				<p class="course-description" ng-bind="::course.info.desc"></p>
				<a id="start-course" class="btn-{{course.info.topic.code}}" ng-href="{{::course.info.startCourseUrl}}">Start Course</a>
				<p class="course-description course-covers">This course covers:</p>
				<ul class="list-square fa-ul">
					<li ng-repeat="objective in ::course.info.objectives"><i class="fa-li fa fa-check topic-color"></i>{{::objective}}</li>
				</ul>
			</div>
		</div>
	</div>
</div>


<div class="container details-section {{course.info.topic.code}}">
	<div class="row">
		<div class="col-md-9 unit-section">
			<div ng-repeat="unit in ::course.info.units">
				<unit-tile unit="unit"></unit-tile>
			</div>
		</div>
		<div class="col-md-3">
			<div class="padded">
				<h4>Downloads</h4>
				<hr />
				<div class="media">
					<div class="media-left">
						<a href="#">
							<span class="fa fa-3x fa-file-archive-o topic-color" aria-hidden="true"></span>
						</a>
					</div>
					<div class="media-body">
						<h5 class="media-heading">Project source code</h5>
						<p>.zip file</p>
					</div>
				</div>


				
			</div>

		</div>
	</div>
</div>