.topic-tile {
	min-height: 280px;
	position: relative;
}
.side-heading {
	color: #FFF;
	font-size: 15px;
	line-height: 19px; // Center the text vertically in the panel heading div
}

#view-courses {
	position: absolute;
	left: 20px;
	bottom: 20px;
}