* {
    box-sizing: border-box;
}

.quiz {
	min-height: 400px;
	// font-family: "Lora", serif;
    background: #fff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
    max-width: 1100px;
    margin: auto;
    ol {
        list-style: none;
    }
    label.combo::before {
      width: 18px; // Radios for quiz options look narrower by default. Setting it to slightly longer width
    }

}

.flex-align-center, .flex-center, .flex-column, .flex-row, .flex-row-cells, .flex-row-reverse {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
}

.flex-row, .flex-row-cells-md, .flex-row-cells {
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
}


.flex-column {
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column
}

.col-grow-shrink {
    max-width: none;
    -ms-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
}

.question-tabs {
    margin: 0;
    padding: 0;
    max-width: 100%;
    -moz-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    -webkit-flex: 0 0 100%;
    flex: 0 0 100%;
    border: 1px solid #fff;
}

.quiz-tab {
    -webkit-transition: background 130ms linear;
    transition: background 130ms linear;
    background: #d8d8d8;
    border-bottom: 1px solid #fff;
    color: #999;
    cursor: pointer;
    font-size: 1.5rem;
    width: 84px;
    padding: 3px;
    &.active {
        background: #eee;
        color: $primary-red;
    }
    &.correct, &.incorrect {
    background: #666;
        .question-number-text {
            display: none;
        }
    }
    &.correct {
        background: #2ecc71;
    }
}



.correct {
    .correct-icon {
        display: block;
        
    }
    
    
}

.incorrect {
    .incorrect-icon {
        display: block;
    }
}


.quiz-tab svg {
    height: 24px;
    width: 24px;
}
.correct-icon, .incorrect-icon {
    display: none;
    fill: #fff;
}



.flex-center, .justify-center {
    -ms-flex-pack: center;
    -ms-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.align-center, .flex-align-center, .flex-center {
    -ms-flex-align: center;
    -ms-align-items: center;
    -webkit-align-items: center;
    align-items: center;
}

/* End side tabs */


.quiz-tabs {
    flex: 0 0 100%;
    width: 100%;
    max-width: 100%;
    padding: 30px;
    // color: #FFF;
}


.quiz-title {
    // color: #FFF;
    line-height: 44px;
    padding-left: 10px;
    // font-family: "Montserrat", sans-serif;
}

.quiz-question-text-list {
    overflow: hidden;
    position: relative;
    white-space: nowrap;
}
.question-count {
    color: $text-color-on-white;
    margin: 0px 0 10px 10px;
    border-bottom: 1px solid #EEE;
    width: 40%;
}

.quiz-question-text {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transition: ease 350ms;
    transition: ease 350ms;
    -webkit-transition-property: left,-webkit-transform;
    transition-property: left,transform;
    display: inline-block;
    font-size: 1.8rem;
    line-height: 3.1rem;
    margin: 0 0 5px;
    padding: 0 4px 0 10px;
    position: relative;
    vertical-align: top;
    white-space: normal;
    width: 100%;
    font-weight:100;
    
}

/* End question text section */

/* Start choices section */

.quiz-question-list {
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    
}

.separator-left {
    border-left: 1px solid #d8d8d8;
}

.quiz-question {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transition: ease 350ms;
    transition: ease 350ms;
    -webkit-transition-property: left,-webkit-transform;
    transition-property: left,transform;
    display: inline-block;
    padding: 0 40px;
    position: relative;
    vertical-align: top;
    white-space: normal;
    width: 100%;
}

.quiz-question label {
    cursor: pointer;
    // font-size: 1.6rem;
    background-color: #fff;
    border-color: #fff;
}

.answer-option {
    margin-bottom: 0px;
    border-bottom: 1px solid #EEE;
    padding: 5px 0;
}

.answer {
    // font-family: "Lato", sans-serif;
}

.correct {
    color: #27ae60;
}

.incorrect {
    color: $primary-red;
}

.quiz-nav {
    margin: 20px auto;
}

.quiz-input-text {
    border: none;
    border-bottom:2px solid #cccccc; 
    &:focus { outline:none; }   
}




/* End choices section */

.score-wrapper {
    margin-top: 40px;
}