<nav id="navbar" class="navbar navbar-fixed-top card">
  <div class="container" style="height:100%">
    <div class="navbar-header">
      <a class="navbar-brand bold-text" ng-href="{{vm.homeUrl}}">
        <i class="fa fa-arrow-left"></i> <span ng-transclude></span>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a ng-href="#">Home</a></li>
        <li><a ng-href="/courses">Courses</a></li>
        <li><a ng-href="#">Log in</a></li>
        <li id="sign-up"><a ng-href="#" class="shadow bold-text">Sign up</a></li>
      </ul>

      
    </div>
  </div>
</nav>
