<nav id="navbar" class="navbar navbar-fixed-top card">
  <div class="container" style="height:100%">
    
    <div class="navbar-header">
      <a class="navbar-brand bold-text" ng-href="{{vm.homeUrl}}">
        <i ng-show="vm.homeUrl" class="fa fa-arrow-left"></i> 
        <img ng-show="!vm.homeUrl" width="120px" src="/assets/images/logo.png" style="margin-top: 5px;" /></i> <span ng-transclude></span> 
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a ng-href="{{vm.getHomeLink()}}">Home</a></li>
        <li><a ng-href="/topics">Topics</a></li>
        <li><a ng-href="/courses">Courses</a></li>
        <li ng-if="!vm.currentUser"><a class="clickable" ng-click="vm.openLoginModal()">Log in</a></li>
        <li ng-if="!vm.currentUser" id="sign-up"><a ng-click="vm.openSignUpModal()" class="shadow bold-text clickable">Sign up</a></li>
        <li id="profile-dropdown" ng-if="vm.currentUser" class="dropdown">
          
          
          
          
          <div  class="btn-group" dropdown>
      <button id="profile-button" type="button" class="btn btn-default" ui-sref="profile">
        <i class="fa fa-user"></i> <span ng-bind="vm.currentUser.fullName"
     </button>
      <button type="button" class="btn btn-default" dropdown-toggle>
        <span class="fa fa-caret-down"></span>
        <span class="sr-only">Profile</span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="split-button">
        <li role="menuitem"><a ng-href="/profile">Your Profile</a></li>
        <li role="menuitem"><a class="clickable" ng-click="vm.logout()">Logout</a></li>
      </ul>
    </div>
          
          
          
          
          
          
          
          
          
          
          
         <!-- 
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Name here <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Account Details</a></li>
            <li role="separator" class="divider"></li>
            <a class="clickable" ng-click="vm.logout()">Logout</a></li>
          </ul>
          
          -->
          
        </li>
          
      </ul>

      
    </div>
  </div>
</nav>
