<div class="text-center" style="padding:50px 0">
	<h3>Reset password</h3>
	<!-- Main Form -->
	<div class="login-form-1">
		<form id="login-form" class="text-left">
			<div class="login-form-main-message" ng-bind="err"
				ng-class="{'error show': err}"></div>
			<div class="main-login-form">
				<div class="login-group">
					<div class="form-group">
						<label for="lg_username" class="sr-only">Email</label>
						<input type="text" class="form-control" ng-model="user.email" ng-change="clearError()" id="lg_username" name="lg_username" placeholder="Enter your email">
					</div>
					
					
				</div>
				<button type="submit" class="login-button" ng-click="resetPassword()"><i class="fa fa-chevron-right"></i></button>
			</div>
			<div class="etc-login-form">
				<p>Don't have an account? <a href="#" ng-click="openSignUpModal()">Create one</a></p>
			</div>
		</form>
	</div>
	<!-- end:Main Form -->
</div>