.course-tile {
	min-height: 300px;
	padding-bottom:50px;
	.course-title {
		margin: 0 0 10px 0;
		font-size: 2rem;
	}
	.panel-body {
		padding: 20px;
	}
	.media-body {
		padding-left: 15px;
	}
	.tile-description {
		
		margin-bottom: 30px;
	}


	
}
.side-heading {
	color: #FFF;
	font-size: 15px;
	line-height: 27px; // Center the text vertically in the panel heading div
}