/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

$text-color-on-gray: #4B5B5E;
$text-color-on-white: #7F8A94;
$heading-color: #384047;
$primary-red: #B41734;
$plain-background: #FFF;
html { font-size: 62.5%; } 

body {
  margin-top: 80px; // For menu
  padding: 10px;
  background-color: #EDEFF0;
  // background-color: #FFFFFF;
  // background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==);
  font-family: 'Varela Round', sans-serif;
  color: $text-color-on-gray;
  font-size: 1.4rem;
  text-rendering: optimizeLegibility;
  
}

p {
  letter-spacing: 0.1px;
  line-height: 1.5em;
}

a {
  transition: all 0.3s ease;
}

hr {
		margin-top: 0;
		margin-bottom: 5px;
	}

.shadow {
  -webkit-box-shadow: 0px 5px 5px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 5px 5px -4px rgba(0,0,0,0.75);
  box-shadow: 0px 5px 5px -4px rgba(0,0,0,0.75);  
}

.padded {
  padding: 10px 20px;
}

.clickable {
  cursor: pointer;
}

.full-height {
  height: 100%;
}

.border-right {
  border-right: 1px solid #CBDBDE;
}

.border-left {
  border-left: 1px solid #CBDBDE;
}

.faded {
  opacity: 0.4;
}

.jb-btn {
  cursor: pointer;
  color: $text-color-on-gray;
  padding: 10px 25px;
  border: solid $text-color-on-gray 1px;
  text-decoration: none;
}

.jb-btn:hover {
  background: $text-color-on-gray;
  color: #FFF;
  text-decoration: none;
}

.card {
  @extend .shadow;
  background-color: #FFF;
  color: $text-color-on-white;
  margin-bottom: 40px;
  min-height: 40px; // TODO: For dev purposes. Remove later.
  .panel-heading {
		padding: 15px;
	}
	.panel-body {
		padding: 20px 30px;	
	}
	.title {
		margin-bottom: 10px;
    color: $heading-color;
	}
  .topic {
		font-weight: 700;
		margin: 0 0 20px 0;
	}

}

h1, h2, h3, h4, h5, .bold-text {
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  // padding-bottom: 10px; // Because of this weird misalignment that Nunito font has.
  margin-bottom: 10px;
  margin-top: 0;
  color: $heading-color;
  letter-spacing: 0.2px;
  
}

i.fa {
  margin-right: 7px; // Font Awesome icons will usually be followed by text. Need space between them.
}


.heading-row {
  margin-bottom: 30px;
}

/* Start checkbox */
input {
  position: absolute;
  left: -9999px;
}

label.combo, label.check  {
  display: block;
  font-weight: 400;
  position: relative;
  margin: 3px 0;
  padding: 5px 30px 5px 25px;
  border: 3px solid $plain-background;
  border-radius: 100px;
  color: #333333;
  background-color: $plain-background;
  /* box-shadow: 0 0 20px rgba(0, 0, 0, .2); */
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  /* transition: background-color .2s, box-shadow .2s; */
}

label.combo::before {
  content: '';
  display: block;
  position: absolute;
  top: 7px;
  bottom: 7px;
  left: 0px;
  width: 16px;
  border: 2px solid #3498db;
  border-radius: 100px;
  transition: background-color .2s; 
}

label.check::before {
  content: '';
  display: block;
  position: absolute;
  top: 7px;
  bottom: 7px;
  left: 0px;
  width: 16px;
  border: 2px solid #3498db;
  border-radius: 0px;
  /* transition: background-color .2s; */
}

label.combo:hover, input.combo:focus + label.combo,
label.check:hover, input.check:focus + label.check {
  /* box-shadow: 0 0 20px rgba(0, 0, 0, .6); */
}

input.combo:checked + label.combo {
  /* color: #C0392B; */
}



input.combo:checked + label.combo::before,
input.check:checked + label.check::before {
  background-color: #34495e;
}

/* End checkbox */


/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
