<div class="container profile">
<!-- TODO 
<div class="text-center" style="background-color: lightgray; padding: 5px; margin: 10px;">
  Looks like you haven't verified your email yet. Click on the link in the email sent to you.
  <a class="clickable" ng-click="vm.resendEmail()">Resend email.</a>
</div>
-->
  <div>
    <navbar></navbar>
  </div>
  <div class="container" >
  <h2 class="page-header">Edit Profile</h2>
  <div class="row">
    
    <!-- edit form column -->
    <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
      
      <div class="login-form-main-message" ng-bind="profile.err"
				ng-class="{'error show': profile.err}"></div>
      
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label class="col-lg-3 control-label">Email:</label>
          <div class="col-lg-8">
            <input type="text" class="form-control" ng-model="profile.user.email" id="reg_username" ng-change="profile.clearError()" name="reg_username" placeholder="Email" >
          </div>
        </div>
        
        <div class="form-group">
          <label class="col-md-3 control-label">Password:</label>
          <div class="col-md-8">
            
            <input type="password" class="form-control" ng-model="profile.user.password" id="reg_password" ng-change="profile.clearError()" name="reg_password" placeholder="******">
          </div>
        </div>
        
        
        
        
        <div class="form-group">
          <label class="col-lg-3 control-label">Name:</label>
          <div class="col-lg-8">
            <input type="text" class="form-control" ng-model="profile.user.fullName" ng-change="profile.clearError()"  id="reg_fullname" name="reg_fullname" placeholder="Name">
          </div>
        </div>
        
        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <a class="jb-btn btn-primary" type="button" href="#" ng-click="profile.updateProfile()">Save Changes</a>
            
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


</div>