<div class="container dashboard">

  <div>
    <navbar></navbar>
  </div>
  <!-- Start greet panel -->
  <div class="panel panel-default card-no-shadow greet-panel {{::dashboard.mostRecent.courseDetails.topic}}">

    <div ng-if="::!dashboard.mostRecent" class="panel-body">


      <h3>Welcome</h3>
      <p>Thank you for registering with Java Brains. You can now save your progress in courses and earn points to track how
        you are doing!</p>
      <p>Below are some courses for you to start working on. Enjoy learning!</p>
      <br/>
      <a href="/courses" class="jb-btn">View all courses</a>
      <br/>
    </div>
    <div ng-if="::dashboard.mostRecent" class="panel-body">


      <h3>Welcome back, {{::dashboard.user.fullName}}!</h3>
      <p>It's time to continue where you left off. Here are the next few lessons in the course <a ng-href="{{::dashboard.courseBaseUrl}}" class="topic-color">{{::dashboard.mostRecent.courseDetails.name}}</a>.
      </p>
      <p>Go ahead, resume the course and jump right back in!</p>
    </div>



    <div ng-if="::dashboard.mostRecent" class="recent-unit-header topic-bg">
      <a ng-href="{{::dashboard.resumeCourseUrl}}" class="pull-right">Resume Course</a>
      <h4><span>Unit </span>
      <span ng-bind="::dashboard.mostRecent.unit.unitNumber"></span>
      <span> - </span>
      <span ng-bind="::dashboard.mostRecent.unit.unitName"></span></h4>

    </div>
    <a class="lesson-link" ng-href="{{dashboard.lessonBaseUrl + lesson.permalinkName}}" ng-repeat="lesson in dashboard.mostRecent.lessons | limitTo: 4">
      <div class="toc-lesson">
        <!-- <a class="lesson-link" href="#"> -->
        <h5 class="lesson-name">
			<i ng-if="lesson.type === 'video' && !lesson.viewed" class="fa fa-play-circle"></i>
			<i ng-if="lesson.type === 'quiz' && !lesson.viewed" class="fa fa-question-circle"></i>
			<i ng-if="lesson.viewed" class="fa fa-check-circle topic-color"></i>
			&nbsp;{{::lesson.title}}
			<span class="pull-right" ng-bind="::lesson.durationText"></span>
</h5>

        <!-- </a> -->
      </div>
    </a>
  </div>
  <!-- End greet panel -->
  
  <!-- Start courses in progress -->
  <div class="in-progress">
    <a href="/courses" class="jb-btn pull-right">All courses</a>
  <h3 ng-if="::dashboard.mostRecent">Courses in progress </h3>
  <h3 ng-if="::!dashboard.mostRecent">Popular courses </h3>
  </div>
  <div class="row">
    <div class="col-md-12" ng-repeat="course in dashboard.courseList">
      <course-tile course="course" />
    </div>

  
  </div>
  
  <!-- End courses in progress -->





</div>